body {
    background-color: rgb(191, 215, 221);
    font-family: sans-serif;
    font-weight: bold;
}

main {
    display: flex;
    background-color: white;
    border-radius: 20px;
    margin: 20px auto !important;
    height: 85vh;
    overflow: hidden;
}
@media (max-width: 800px){
    main{
        margin: 0 !important;
        height: auto;
    }
}

.left {
    background-image: url(assets/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px !important;
    height: 80vh;
    padding: 20px;
    border-radius: 20px;

    * {
        margin: 0;
    }

    div {
        display: grid;
        grid-template-columns: 60px auto;
        width: 300px;
        margin: 10px 0 30px 10px;

        .number {
            grid-row-start: 1;
            grid-row-end: 3;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            font-size: 30px;
            text-align: center;
            border: 2px solid white;
            color: white;
            cursor: pointer;
            transition: all 0.5s;
        }

        .number:hover {
            border: 2px solid transparent;
            background-color: rgb(191, 215, 221);
            color: blue;
        }

        .step {
            color: rgb(160, 158, 158);
        }

        h1 {
            font-size: 20px;
            color: white;
        }
    }

    @media (max-width: 800px) {
        display: flex;
        width: auto !important;
        height: 20vh;
        position: absolute;
        margin-top: 0px !important;
        margin-left: 0px !important;
        z-index: 1;

        h1{
            display: none;
        }
        .step{
            display: none;
        }
    }
}

.right {
    display: flex;
    flex-direction: column;
    position: relative;

    @media (max-width:800px) {
        height: 95vh;
        padding-top: 18vh;

        .step4{
            margin: 17vh 0;
        }
    }

    .step1, .step2, .step3, .step4, .step5{
        height: 80vh;
        transition: all 0.5s;
        padding-bottom: 20vh;
        position: relative;

        h1 {
            color: blue;
            font-weight: bold;
            margin: 20px 0;
        }
        p {
            opacity: 0.5;
            font-size: 15px;
        }
        .next {
            border: none;
            background-color: rgb(2, 2, 99);
            border-radius: 10px;
            padding: 10px;
            color: white;
            font-weight: bold;
            width: 150px;
            position: absolute;
            bottom: 10px;
            right: 10px;
            transition: all 0.5s;
        }
    
        .next:hover {
            background-color: rgb(6, 6, 206);
        }
        .back{
            border: 2px solid transparent;
            background-color: white;
            border-radius: 10px;
            padding: 10px;
            color: blue;
            font-weight: bold;
            width: 150px;
            position: absolute;
            bottom: 10px;
            left: 10px;
            transition: all 0.5s;
        }
        .back:hover{
            border: 2px solid blue;
        }
    }
    .step1 {
        display: flex;
        flex-direction: column;
        // margin-top: -162vh;

        label {
            margin: 5px 0;
            color: blue;
        }

        input {
            margin: 5px 0;
            border-radius: 5px;
            padding: 5px;
            border: 1px solid transparent;
            transition: all 0.5s;
            font-weight: bold;
        }

        input:hover {
            border: 1px solid black;
        }
    }
    .step2{
        height: 80vh;

        .freeMouth{
            display: none;
        }
        .plans{
            display: flex;
            flex-direction: row;
            justify-content: center;

            div{
                border: 2px solid rgba(0, 0, 255, 0.089);
                border-radius: 20px;
                margin: 10px;
                width: 30%;
                padding: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;
                transition: all 0.5s;
                
                img{
                    margin: 20px 0;
                }
            }
            div:hover{
                border: 2px solid blue;
            }
            
        }
        h3{
            font-size: 18px;
        }
        .switch{
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;
            
            img{
                rotate: 180deg;
                width: 40px;
                cursor: pointer;
            }
            h2{
                font-size: 20px;
            }
            #year{
                opacity: 0.5;
            }
        }
    }
    .step3{
        margin-top: 1vh;
        .form-check{
            border: 2px solid rgba(0, 0, 255, 0.178);
            padding: 10px 0 0 60px;
            margin: 10px 0;
            border-radius: 10px;
            position: relative;
            transition: all 0.5s;
            width: 90%;
            cursor: pointer;

            input{
                position: absolute;
                top: 30%;
                scale: 1.5;
            }
            .preco{
                position: absolute;
                top: 30%;
                right: 5%;
                color: purple;
            }
        }
        .form-check:hover{
            border: 2px solid blue;
        }
    }
    .step4{
        .summary{
            background-color: rgba(128, 128, 128, 0.187);
            border-radius: 10px;
            padding: 10px;

            h3{
                color: rgb(1, 1, 138);
                margin: 0;
            }
            a{
                color: gray;
            }
            .row{
                display: flex;
                justify-content: center;

                
            }
        }
    }
    .step5{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p{
            text-align: center;
        }
    }
}
